@model TaskModel
@if (Model.taskDeadLineModel.Count == 0)
{
    <h5></h5>
}
else
{
    foreach (TaskModel ct in Model.taskDeadLineModel)
    {
        <div class="card mb-5" style="padding:5px !important; margin-bottom: 0.5rem !important;">
            <div class="row no-gutters align-items-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <i class="lnr lnr-pushpin app-work-icon-hot"></i>&nbsp;<strong>@ct.Name</strong>&nbsp;&nbsp;
                            <div>
                                @ct.StartDate.toDateVNString()<i class="lnr lnr-arrow-right app-work-icon-hot"></i>@ct.EndDate.toDateVNString()
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="badge @ct.classStatus float-right">@ct.nameStatus<span style="color:red"> @ct.countDown</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
