@model ContractAcceptanceBBModel
<div class="container-fluid flex-grow-1 container-p-y">
    <div style="display:none">
        @Html.TextBoxFor(c => c.TaskId, new { @id = "BBTaskId" })       
        @Html.TextBoxFor(c => c.Id, new { @id = "ContractAcceptanceBBId" })
    </div>
    <div class="card">
        <div class="card-body pb-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <app-label asp-for="TaskName" />
                    </div>
                    <div class="col-md-9">
                        <label style="padding-top:8px;color:#09b03a;">@Model.TaskName</label>                   
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <app-label asp-for="Name" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <app-label asp-for="Code" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Code" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <app-label asp-for="Description" />
                    </div>
                    <div class="col-md-9">
                        <app-textarea asp-for="Description" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <app-label asp-for="ApprovalDate" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApprovalDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <app-label asp-for="UnitId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="UnitId" asp-items="Model.AvailableUnit" />
                    </div>
                </div>
            </div>            
            <nop-editor asp-for="WorkFileIds" />
        </div>
    </div>
</div>
<div class="text-right mt-3">
    <button type="button" id="btnaddAcceptancesave" class="btn btn-primary">@T("admin.common.save")</button>&nbsp;
    <button type="button" id="btnaddAcceptanceCancel" class="btn btn-danger">@T("admin.common.cancel")</button>
</div>
<script>
    $(document).ready(function () {
        $("#btnaddAcceptancesave").click(function () {
            kendo.ui.progress($("#contentCreate"), true);
            var WorkFileIds = $("#@Html.IdFor(c=>c.WorkFileIds)").val();
            var TaskId = $("#BBTaskId").val();
            var ContractId = $("#Id").val();           
            if (WorkFileIds.length > 0) {
                var SelectedListFileId = WorkFileIds.split(',');
            }
            var _data = {
                Id:@Model.Id,
                TaskId: TaskId,               
                Name: $("#@Html.IdFor(c=>c.Name)").val(),
                Code: $("#@Html.IdFor(c=>c.Code)").val(),
                Description: $("#@Html.IdFor(c=>c.Description)").val(),
                ContractId: ContractId,
                ApprovalDate: $("#@Html.IdFor(c=>c.ApprovalDate)").val(),
                SelectedListFileId: SelectedListFileId,
            };
           //console.log(_data);
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Contract/_ContractAcceptanceBBAdd",
                data: _data,
                success: function (data) {
                    //console.log(data);
                    if (CheckValidMessageReturn(data)) {
                        $("#tabContractAcceptanceBB .close").click();
                        $('#ContractTaskChild_0').removeClass("isloaded");
                        loadContractTaskChild(ContractId,0);                       
                        ShowSuccessMessage(data.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {                   
                    ShowErrorMessage(data.Message);
                     alert('@T("Admin.common.request.error")');
                    $("#tabContractAcceptanceBB .close").click();
                }
            });
        });
            $("#btnaddAcceptanceCancel").click(function () {
                $("#tabContractAcceptanceBB .close").click();
            });
        });
</script>

<style>
    .listoption label span {
        padding-right: 20px;
    }

    .listoption {
        padding-bottom: 20px;
    }
</style>
